/* 모든 html 파일 안에 들어가는 css입니다. */

/*
===========
Font
===========
*/
@font-face {
  font-family: "SBAggroM";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
/*
===========
Variable
===========
*/

:root {
  --background-color: #08623e;
  --block-background-color: #f5f5f5;
  --block-border-color: #053f28;
}

/*
===========
Global
===========
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "SBAggroM";

  /* background */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

html {
  min-width: 375px;
  height: 100%;
}

body {
  background-color: var(--background-color);
  background-image: url("../imgs/mobile/mobile_background_Frame96.png");
  background-repeat: repeat;
}

button {
  cursor: pointer;
  background-color: white;
  border: 0px;
  opacity: 1;
}

li {
  text-decoration: none;
  list-style: none;
}

/* mobile(768px) labtop(1020px) / desktop(1400px) */
@media screen and (min-width: 756x) {
  body {
    background-image: url("../imgs/desktop/desktop_background_Frame48.png");
  }
}

/* @media screen and (max-height: 815px) {
  * {
    display: none;
  }
} */
