@font-face {
  font-family: 'SB AggroOTF'; 
  src: url(../font/SB_Mac_Font/SB\ 어그로OTF\ M.otf) format('opentype'); 
}

body{
  width:100%;
  display: flex; /* width: 0, height: 0*/
  flex-direction: column;
  align-items: center;
  margin: 0;
  height: 100%;

}
.block {
  display: flex;
  justify-content:center;
  flex-direction: column;
  align-items: center;
  margin: 0;
  height: 100%;
}
.block .ment1 {
  width: 100%;
  display: flex;
  justify-content:center;
  flex-direction: column;
  align-items: center;
}


/* mobile(768px) labtop(1020px) / desktop(1024px) */
@media screen and (min-width: 768px){
  .block {
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 100%;
  }
  .block .ment1 {
    width: 37vw;
    min-width: 716px;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
  }

}

