/*
===========
Font
===========
*/
@font-face {
  font-family: "SBAG_M";
  src: url("/font/SB_Mac_Font/SB\ 어그로OTF\ M.otf");
}

/*
===========
Variables
===========
*/

:root {
  /* font-color */
  --block-background-color: #f5f5f5;
  --block-border-color: #1a3d2a;
  --q-num-font-color: #d1d1d1;
  --q-title-font-color: #ffffff;
  --q-title-shadow-color: #060713;
  --two-btns-unclicked-font-color: #888888;
  --two-btns-clicked-font-color: #ffffff;

  /* button-color */
  --two-btns-unclicked-color: #e8e8e8;
  --two-btns-clicked-color: #2d6242;
  --two-btns-clicked-border-color: #1a3e2a;

  /* font-size */
  --xlarge-size: 32px;
  --q-num-mobile-size: 1.75rem;
  --q-title-mobile-size: 1rem;
  --medium-size: 16px;

  /* spacing */
  --letter-spacing: 0.02em;
}
/*
===========
Global
===========
*/

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 96px;
  font-family: "SBAG_M";
}
/*
===========
block
===========
*/

.block {
  /* size */
  width: 89.25vw;
  height: 620px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* margin */
  margin-bottom: 20px;
  border-radius: 20px;
  border: 2px var(--block-border-color) solid;
  background-color: var(--block-background-color);
}

.block .q-num {
  /* size */
  width: 89.1%; /* 295px */
  height: 70px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 42px;
  margin-bottom: 4px;
  /* font */
  font-size: var(--q-num-mobile-size);
  color: var(--q-num-font-color);
  font-weight: bold;
  line-height: 250%;
  letter-spacing: var(--letter-spacing);
}

.block .q-title {
  font-size: var(--q-title-mobile-size);
  color: var(--q-title-font-color);
  /* 글씨 테두리 */
  /* -webkit-text-stroke: 5px #0d111d; */
  text-shadow: 0px 2px 0px var(--q-title-shadow-color), 0px 10px 0.02px #000,
    9.8px 2.1px 0.02px #000, 4.2px -9.1px 0.02px #000, -8px -6px 0.02px #000,
    -7.6px 6.5px 0.02px #000, 4.8px 8.8px 0.02px #000, 9.6px -2.8px 0.02px #000,
    -0.7px -10px 0.02px #000, -9.9px -1.5px 0.02px #000,
    -3.5px 9.4px 0.02px #000, 8.4px 5.4px 0.02px #000, 7.1px -7px 0.02px #000,
    -5.4px -8.4px 0.02px #000, -9.4px 3.5px 0.02px #000, 1.4px 9.9px 0.02px #000,
    10px 0.8px 0.02px #000, 2.9px -9.6px 0.02px #000, -8.7px -4.8px 0.02px #000,
    -6.6px 7.5px 0.02px #000, 5.9px 8px 0.02px #000, 9.1px -4.1px 0.02px #000,
    -2.1px -9.8px 0.02px #000, -10px -0.1px 0.02px #000,
    -2.2px 9.8px 0.02px #000, 9.1px 4.2px 0.02px #000, 6.1px -8px 0.02px #000,
    -6.5px -7.6px 0.02px #000, -8.8px 4.7px 0.02px #000, 2.7px 9.6px 0.02px #000,
    10px -0.6px 0.02px #000, 1.5px -9.9px 0.02px #000, -9.3px -3.6px 0.02px #000,
    -5.5px 8.4px 0.02px #000, 7px 7.2px 0.02px #000, 8.5px -5.3px 0.02px #000,
    -3.4px -9.4px 0.02px #000, -9.9px 1.3px 0.02px #000, -0.8px 10px 0.02px #000,
    9.6px 2.9px 0.02px #000, 4.9px -8.7px 0.02px #000, -7.5px -6.7px 0.02px #000,
    -8.1px 5.9px 0.02px #000, 4px 9.2px 0.02px #000, 9.8px -2px 0.02px #000,
    0.2px -10px 0.02px #000, -9.7px -2.3px 0.02px #000, -4.3px 9px 0.02px #000,
    7.9px 6.1px 0.02px #000;
  font-weight: bold;
  line-height: 167%;
  letter-spacing: var(--letter-spacing);
}

.block .q-title.top {
  margin-bottom: 22px;
}

.block .q-title.bottom {
  margin-bottom: 28px;
}

.block .two-btns {
  display: flex;
  flex-direction: column;
}

.block .two-btns button {
  width: 80vw;
  height: 8vh;
  margin: 3% 0;
  border-radius: 50px;
  font-size: var(--medium-size);
  font-weight: bolder;
  background-color: var(--two-btns-unclicked-color);
  color: var(--two-btns-unclicked-font-color);
}

.block .two-btns button.active {
  /* background */
  background-image: url(/imgs/reminder_button_Group3.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.block .next {
  width: 80vw;
  height: 7vh;
  margin: 12% 0 0 0;
  /* border-radius: 50px; */
  font-size: var(--medium-size);
  font-weight: bolder;

  /* background */
  background-image: url(/imgs/reminder_button_Group3.png);
  background-repeat: no-repeat;
  background-size: contain;
}
/*
===========
PC
===========
*/

/* mobile(768px) labtop(1020px) / desktop(1024px) */
@media screen and (min-width: 768px) {
  body {
    margin-top: 70px;
  }
  .block {
    width: 37vw;
    height: 940px;
  }

  .block .two-btns button {
    width: 25vw;
  }

  .block .next {
    width: 25vw;
    margin: 12% 0 0 0;
  }
}
