/*
===========
Variables
===========
*/

:root {
  /* font-color */
  --q-num-font-color: #d1d1d1;
  --q-title-font-color: #222222;
  --q-title-shadow-color: #060713;
  --two-btns-unclicked-font-color: #888888;
  --two-btns-clicked-font-color: #ffffff;
  --next-btn-unclicked-font-color: #6f6f70;

  /* button-color */
  --two-btns-unclicked-color: #e8e8e8;
  --two-btns-clicked-color: #2d6242;
  --two-btns-clicked-border-color: #1a3e2a;

  /* font-size */
  --q-num-mobile-size: 1.75rem;
  --q-title-mobile-size: 1.125rem; /* 18px */
  --q-title-desktop-size: 2rem; /* 32px */
  --button-text-mobile-size: 0.875rem; /* 14px */
  --two-btns-desktop-size: 1.25rem; /* 20px */
  --button-text-desktop-size: 1.375rem; /* 22px */

  /* spacing */
  --letter-spacing: 0.02em;
}
/*
===========
Global
===========
*/

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 96px;
}
/*
===========
block - num & title
===========
*/

.block {
  /* size */
  width: 89.25vw;
  min-width: 335px;
  height: 620px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* margin */
  margin-bottom: 20px;
  border-radius: 20px;
  border: 2px var(--block-border-color) solid;
  background-color: var(--block-background-color);
}

/* 곧 사라질 것 */
.block .q-num {
  /* size */
  width: 89.1%; /* 295px */
  height: 70px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 42px;
  margin-bottom: 4px;
  /* font */
  font-size: var(--q-num-mobile-size);
  color: var(--q-num-font-color);
  font-weight: bold;
  line-height: 250%;
  letter-spacing: var(--letter-spacing);
}

.block .q-title {
  font-size: var(--q-title-mobile-size);
  color: var(--q-title-font-color);
  font-weight: 400;
  line-height: 167%;
  letter-spacing: var(--letter-spacing);
}

.block .q-title.top {
  margin-bottom: 22px;
}

.block .q-title.bottom {
  margin-bottom: 28px;
}
/*
===========
block - btns
===========
*/

.block .two-btns {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.block .two-btns .select_btn {
  width: 89.1%; /* 295px */
  height: 80px;
  margin-bottom: 20px;
  border-radius: 80px;
  font-size: var(--button-text-mobile-size);
  font-weight: 400;
  line-height: 20px;
  background-color: var(--two-btns-unclicked-color);
  color: var(--two-btns-unclicked-font-color);
}

.block .two-btns .select_btn.active {
  background-color: var(--two-btns-clicked-color);
  border: 2px solid var(--two-btns-clicked-border-color);
  color: var(--two-btns-clicked-font-color);
}

.block .next {
  width: 89.1%;
  height: 64px;
  border-radius: 80px;
  line-height: 20px;
  font-size: var(--button-text-mobile-size);
  color: var(--next-btn-unclicked-font-color);

  background: linear-gradient(93.11deg, #dadcdd 4.01%, #bec0c2 97.86%);
  box-shadow: 0px 6px 0px #505050;
  border: 2px solid #6f6f70;
}

/*
===========
PC
===========
*/

/* mobile(768px) labtop(1020px) / desktop(1024px) */
@media screen and (min-width: 768px) {
  body {
    margin-top: 70px;
  }

  .block {
    width: 37vw;
    min-width: 716px;
    height: 940px;
    border: 6px var(--block-border-color) solid;
  }

  .block .q-title {
    font-size: var(--q-title-desktop-size);
  }

  .block .q-title.bottom {
    margin-bottom: 40px;
  }

  .block .two-btns {
    margin-bottom: 114px;
  }

  .block .two-btns .select_btn {
    height: 120px;
    line-height: 30px;
    font-size: var(--two-btns-desktop-size);
  }

  .block .next {
    height: 94px;
    font-size: var(--button-text-desktop-size);
  }
}
