/*
===========
Variables
===========
*/
:root {
  /* width */
  --basic-desktop-width: 79.86%; /* 476px*/

  /* font-size */
  --conclusion-desktop-font-size: 2rem; /* 32px */
  --feature-desktop-font-size: 1.125rem; /* 18px */
  --chemi-title-desktop-font-size: 1.5rem; /* 24px */
  --chemi-movie-title-desktop-font-size: 1rem; /* 16px */
  --chemi-movie-character-desktop-font-size: 1.625rem; /* 26px */
  --share-desktop-font-size: 1.75rem; /* 28px */

  --conclusion-mobile-font-xs-size: 1.1rem;
  --feature-mobile-font-xs-size: 0.8rem;
  --share-mobile-font-xs-size: 1.1rem;

  /* line-height */
  --feature-desktop-line-height: 1.35rem; /* 22px */
  --chemi-title-desktop-line-height: 1.8125rem; /* 29px */
  --chemi-movie-title-desktop-line-height: 1.1875rem; /* 19px */
  --chemi-movie-character-desktop-line-height: 1.9375rem; /* 31px */

  /* font-weight */
  --feature-desktop-font-weight: 300;
}

/*
===========
media
===========
*/

/* width < 320px (Galaxy S5, iPhone 5, iPhone 6/7/8, fold)*/
@media screen and (max-width: 23.4375rem) {
  /* ----------------- conclusion ----------------- */
  .block .result-character .conclusion {
    font-size: var(--conclusion-mobile-font-xs-size);
  }

  .block .result-character .feature {
    font-size: var(--feature-mobile-font-xs-size);
  }

  .block .share span,
  .block .movies span,
  .block .likeMe span,
  .block .mostType span {
    font-size: var(--share-mobile-font-xs-size);
  }
}

/* mobile(768px) labtop(1020px) / desktop(1024px) */
@media screen and (min-width: 47.25rem) {
  /* ----------------- Global ----------------- */
  body {
    padding: 0;
  }

  section {
    margin: 0.625rem 3.75rem;
    border-width: 4px;
    border-radius: 32px;
  }

  /* ----------------- block ----------------- */
  .block {
    /* size */
    width: 716px;

    /* background */
    border-width: 6px;
    border-radius: 40px;

    /* margin */
    margin: 5rem 0;

    /* padding */
    padding: 3.75rem;
  }
  .block .result-character .textAndImg .subject {
    /* size */
    height: 2rem;

    /* margin */
    margin-top: 4rem;
  }

  .block .result-character .textAndImg .movie-title {
    /* size */
    height: 3rem;

    /* margin */
    margin-top: 2.5rem;
  }

  .block .result-character .textAndImg .movie-character {
    /* size */
    height: 4rem;
  }

  .block .result-character .textAndImg .character-img {
    padding: 0 3.75rem;
  }

  /* ----------------- conclusion ----------------- */
  .block .result-character .conclusion {
    /* size */
    height: 100%;

    /* font */
    line-height: var(--conclusion-desktop-line-height);
    font-size: var(--conclusion-desktop-font-size);

    /* margin */
    margin-top: 2.375rem;
  }

  .block .result-character .feature-list {
    width: var(--basic-desktop-width);
  }

  .block .result-character .feature {
    /* size */
    height: 3.5rem;

    /* font */
    font-size: var(--feature-desktop-font-size);
    line-height: var(--feature-desktop-line-height);
    font-weight: var(--feature-desktop-font-weight);
  }

  /* ----------------- point-line ----------------- */
  .point-line {
    background-size: 28px 4px;

    border-width: 4px;
    margin-top: 62px;
  }

  /* ----------------- chemistry ----------------- */
  .block .result-character .chemistry {
    /* size */
    width: var(--basic-desktop-width);

    /* margin */
    margin-top: 4.125rem;
    margin-bottom: 3.75rem;
  }

  .block .result-character .chemistry .chemi {
    /* size */
    height: 100%;

    /* background */
    border-radius: 16px;
  }

  .block .result-character .chemistry .good {
    margin-right: 1.25rem;
  }

  .block .result-character .chemistry .chemi .chemi-title {
    /* size */
    width: 100%;
    height: 3.25rem;

    /* font */
    font-size: var(--chemi-title-desktop-font-size);
    line-height: var(--chemi-title-desktop-line-height);

    /* margin */
    margin-top: 2.5rem;
  }

  .block .result-character .chemistry .chemi .character-img {
    width: 64.91%;
    height: 10.75rem;

    /* margin */
    margin-top: 0.625rem;
  }

  .block .result-character .chemistry .chemi .movie-title {
    /* size */
    width: 100%;
    height: 1.375rem;

    /* font */
    font-size: var(--chemi-movie-title-dsektop-font-size);
    line-height: var(--chemi-movie-title-desktop-line-height);

    /* margin */
    margin-top: 2.375rem;
  }

  .block .result-character .chemistry .chemi .movie-character {
    /* size */
    width: 100%;
    height: 2.125rem;

    /* font */
    font-size: var(--chemi-movie-character-desktop-font-size);
    line-height: var(--chemi-movie-character-desktop-line-height);

    /* margin */
    margin-top: 0.75rem;
    margin-bottom: 2.25rem;
  }

  .block .whiteBox .imgAndGraph {
    flex-direction: row;
    justify-content: center;
  }

  /* ----------------- share ----------------- */
  .block .share span,
  .block .movies span,
  .block .likeMe span,
  .block .mostType span {
    /* font */
    font-size: var(--share-desktop-font-size);

    /* margin */
    margin-top: 3rem;
  }

  .block .share .share-btns {
    /* size */
    width: var(--basic-desktop-width);
    height: 4rem;

    /* margin */
    margin: 1.75rem 0 4.25rem 0;

    /* padding */
    padding: 0 1.875rem;
  }

  /* ----------------- movies ----------------- */
  .block .movies {
    height: 100%;
  }

  .block .movies .movie-list {
    /* size */
    width: var(--basic-desktop-width);
    height: 13.125rem;

    /* display */
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* margin */
    margin-top: 1.625rem;
    margin-bottom: 3.75rem;
  }

  .block .movies .movie-list li {
    width: 30%;
    margin-bottom: 0;
  }

  .block .restart {
    /* size */
    width: 63.75%;
    height: 5.875rem;

    /* margin */
    margin: 2.5rem 0;
  }
}
