/*
===========
Variables
===========
*/
:root {
  /* color */
  --section-background-color: #f8f8f8;
  --section-border-color: #ededed;
  --basic-font-color: #2a2a2a;
  --feature-background-color: #ffffff;
  --point-line-color: #ededed;
  --chemi-background-color: #ffffff;
  --chemi-border-color: #e5e5e5;
  --chemi-movie-title-mobile-font-color: #4a4a4a;
  --chemi-movie-character-mobile-font-color: #e10017;
  --comment-placeholder-color: #a8a8a8;

  /* font-size */
  --conclusion-mobile-font-size: 1.25rem; /* 20px */
  --feature-mobile-font-size: 0.875rem; /* 14px */
  --chemi-title-mobile-font-size: 0.875rem; /* 14px */
  --chemi-movie-title-mobile-font-size: 0.75rem; /* 12px */
  --chemi-movie-character-mobile-font-size: 0.875rem; /* 14px */
  --share-mobile-font-size: 1.125rem; /* 18px */

  /* line-height */
  --conclusion-desktop-line-height: 2.625rem; /* 42px */

  --conclusion-mobile-line-height: 1.875rem;
  --feature-mobile-line-height: 1.5rem; /* 24px */
  --chemi-title-mobile-line-height: 1.0625rem; /* 17px */
  --chemi-movie-title-mobile-line-height: 0.875rem; /* 14px */
  --chemi-movie-character-mobile-line-height: 1.0625rem; /* 17px */
  --share-mobile-line-height: 3.375rem; /* 54px */

  /* font-weight*/
  --conclusion-mobile-font-weight: 400;
}
/*
===========
Global
===========
*/

body {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2.5rem 1.25rem;
}

section {
  /* size */
  width: 100%; /*83.24%;*/
  height: 100%;

  /* display */
  display: flex;
  flex-direction: column;
  align-items: center;

  /* background */
  background-color: var(--section-background-color);
  border: 2px solid var(--section-border-color);
  border-radius: 10px;

  /* margin */
  margin-bottom: 0.625rem; /* 10px */
}
/*
===========
loading
===========
*/

.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading img {
  width: 100%;
}

/* mobile(768px) labtop(1020px) / desktop(1024px) */
@media screen and (min-width: 47.25rem) {
  .loading img {
    width: 37vw;
  }
}
/*
===========
block
===========
*/

.block {
  /* size */
  width: 100%;
  height: 100%; /* 수정 가능 */

  /* display */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  /* background */
  background-color: #ffffff;
  border: 2px solid var(--block-border-color);
  border-radius: 20px;

  /* padding */
  padding: 1.25rem;
}
/*
=====================================
block - result-character - textAndImg
=====================================
*/

.block .result-character .textAndImg {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.block .result-character .textAndImg .subject {
  /* size */
  height: 1rem;

  /* background */
  content: url("../imgs/result_character_subject.png");

  /* margin */
  margin-top: 2.5rem; /* 22 / 370 */
}

.block .result-character .textAndImg .movie-title {
  /* size */
  height: 1.25rem;

  /* background */
  content: url("../imgs/movie_title/ISFJ_T.png");

  /* margin */
  margin-top: 1.6rem;
}

.block .result-character .textAndImg .movie-character {
  /* size */
  height: 1.875rem;

  /* background */
  content: url("../imgs/movie_character/ISFJ_C.png");

  /* margin */
  margin-top: 1.375rem;
}

.block .result-character .textAndImg .character-img {
  /* size */
  width: 100%;
  padding: 0 1.25rem;
  object-fit: contain;

  /* imgage */
  content: url("../imgs/chracter-img/ISFJ_I.png");

  /* margin */
  margin-top: 2.375rem;
}
/*
=====================================
block - result-character - conclusion
=====================================
*/

.block .result-character .conclusion {
  /* display */
  display: inline-block;
  width: 100%;
  height: 3.25rem;

  /* font */
  font-size: var(--conclusion-mobile-font-size);
  line-height: var(--conclusion-mobile-line-height);
  font-weight: var(--conclusion-mobile-font-weight);

  /* margin */
  margin-top: 1.75rem;
}

.block .result-character .feature-list {
  width: 86.44%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 1.3125rem; /* 31 - 10(feature의 margin-top) */
}

.block .result-character .feature {
  /* size */
  width: 100%;
  height: 3rem;

  /* display */
  display: flex;
  justify-content: center;
  align-items: center;

  /* background */
  background-color: var(--feature-background-color);
  border-radius: 16px;

  /* margin */
  margin-top: 0.625rem;

  /* font */
  font-size: var(--feature-mobile-font-size);
  line-height: var(--feature-mobile-line-height);
}
/*
=====================================
block - result-character - point-line
=====================================
*/

.point-line {
  width: 100%;
  height: 0.625rem;

  /* style */
  background-image: linear-gradient(
    to right,
    var(--point-line-color) 50%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: bottom;
  background-size: 16px 2px;
  background-repeat: repeat-x;

  /* margin */
  margin-top: 2.3125rem;
}
/*
=====================================
block - result-character - chemistry
=====================================
*/

.block .result-character .chemistry {
  /* size */
  width: 86.1%;

  /* display */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  /* margin */
  margin-top: 2.5625rem;
  margin-bottom: 2.5rem;
}

.block .result-character .chemistry .chemi {
  /* size */
  width: 100%;

  /* display */
  display: flex;
  flex-direction: column;
  align-items: center;

  /* background */
  background-color: var(--chemi-background-color);
  border: 2px solid var(--chemi-border-color);
  border-radius: 10px;
}

.block .result-character .chemistry .good {
  margin-right: 0.625rem;
}

.block .result-character .chemistry .chemi .chemi-title {
  /* size */
  width: 100%;
  height: 2rem;

  /* display */
  display: inline-block;
  text-align: center;

  /* font */
  font-size: var(--chemi-title-mobile-font-size);
  line-height: var(--chemi-title-mobile-line-height);

  /* margin */
  margin-top: 1.5rem;
}

.block .result-character .chemistry .chemi .character-img {
  width: 64.91%;
  object-fit: contain;
}

.block .result-character .chemistry .chemi .movie-title {
  /* size */
  width: 67.21%;
  height: 1.75rem;

  /* display */
  display: inline-block;

  /* font */
  font-size: var(--chemi-movie-title-mobile-font-size);
  line-height: var(--chemi-movie-title-mobile-line-height);
  color: var(--chemi-movie-title-mobile-font-color);

  /* margin */
  margin-top: 1rem;
}

.block .result-character .chemistry .chemi .movie-character {
  /* size */
  width: 67.21%;
  height: 1.0625rem;

  /* display */
  display: inline-block;

  /* font */
  font-size: var(--chemi-movie-character-mobile-font-size);
  line-height: var(--chemi-movie-character-mobile-line-height);
  color: var(--chemi-movie-character-mobile-font-color);

  /* margin */
  margin-top: 0.25rem;
  margin-bottom: 1.4375rem;
}

.block .result-character .chemistry .good .character-img {
  content: url("../imgs/movie_character/soundofmusic_maria_s_image31.png");
}

.block .result-character .chemistry .bad .character-img {
  content: url("../imgs/movie_character/soundofmusic_maria_s_image31.png");
}

/*
=============
block - share
=============
*/

.block .share {
  height: 100%; /* 166px */
}

.block .share span,
.block .movies span {
  /* size */
  width: 100%;
  height: 3.25rem;

  /* display */
  display: inline-block;

  /* font */
  font-size: var(--share-mobile-font-size);
  line-height: var(--share-mobile-line-height);

  /* margin */
  margin-top: 1.375rem;
}

.block .share .share-btns {
  /* size */
  width: 83.72%;
  height: 2.5rem;

  /* display */
  display: flex;
  flex-direction: row;
  justify-content: center;

  /* margin */
  margin: 0.5rem 0 2.8025rem 0;
}

.block .share .share-btns li {
  width: 20%;
  height: 100%;
}

.block .share .share-btns li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.block .share .share-btns li .kakaotalk {
  background-image: url("../imgs/share-icons/share_kakaotalk_Frame85.png");
}

.block .share .share-btns li .facebook {
  background-image: url("../imgs/share-icons/share_facebook_Frame86.png");
}
.block .share .share-btns li .twitter {
  background-image: url("../imgs/share-icons/share_twitter_Frame87.png");
}
.block .share .share-btns li .band {
  background-image: url("../imgs/share-icons/share_band_Frame88.png");
}
.block .share .share-btns li .instagram {
  background-image: url("../imgs/share-icons/share_instagram_Frame89.png");
}
/*
==============
block - movies
==============
*/

.block .movies {
  height: 53.375rem;
}

.block .movies .movie-list {
  /* size */
  width: 55.93%;
  height: 100%;

  /* display */
  display: flex;
  flex-direction: column;
  align-items: center;

  /* margin */
  margin-top: 0.375rem;
  margin-bottom: 1.875rem;
}

.block .movies .movie-list li {
  width: 100%;
  height: 100%;

  margin-bottom: 0.625rem;
}

.block .movies .movie-list li img {
  /* size */
  width: 100%;
  height: 100%;
  object-fit: contain;

  /* background */
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid var(--chemi-border-color);
  border-radius: 16px;
}

.block .movies .movie-list li .movie-01 {
  content: url("../imgs/share-icons/share_instagram_Frame89.png");
}
/*
===============
block - restart
===============
*/
.block .restart {
  /* size */
  width: 100%;
  height: 3.5rem;

  /* background */
  background-image: url("../imgs/restartBtn_Frame134.png");
  background-size: contain;

  /* margin */
  margin: 2rem 0 2.8125rem 0;
}
/*
=====================
block - communication
=====================
*/

.block .communication {
  height: 1486px;
}

.block .communication .add-comment {
  /* size */
  width: 100%;

  /* display */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block .communication .add-comment .nickname,
.comment-area,
.password {
  background: #ffffff;
  border: 2px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 10px;
}

/* .block .communication .add-comment .nickname{
  width: 89%;
  height: 95%;
  margin: 40px 20px 10px 20px;
} */

.block .communication .add-comment .nickname {
  width: 100%;
  height: 100%;
}

.block .communication .add-comment input[type="text"] {
  width: 255px;
  height: 44px; /* 높이 초기화 */

  background-color: red;
}

.block .communication .add-comment .comment-area {
  width: 89%;
  height: 100%;

  /* width: 100%;
  height: 122px; */
}

.block .communication .add-comment .password {
  width: 89%;
  height: 78.32%;
  margin: 11px 20px 10px 20px;
}

.block .communication .add-comment .wrtie-comment-btn {
  /* size */
  width: 255px;
  height: 80.55%;

  /* background */
  background-image: url("../imgs/writeCommentBtn_Frame140.png");
  background-size: 100% 100%;
  background-color: var(--section-background-color);
}
