/*
===========
Variables
===========
*/
:root {
  --basic-desktop-width: 79.86%;
  --conclusion-desktop-font-size: 2rem;
  --feature-desktop-font-size: 1.125rem;
  --chemi-title-desktop-font-size: 1.5rem;
  --chemi-movie-title-desktop-font-size: 1rem;
  --chemi-movie-character-desktop-font-size: 1.625rem;
  --share-desktop-font-size: 1.75rem;
  --placeholder-desktop-font-size: 1rem;
  --conclusion-mobile-font-xs-size: 1.1rem;
  --feature-mobile-font-xs-size: 0.8rem;
  --share-mobile-font-xs-size: 1.1rem;
  --feature-desktop-line-height: 1.35rem;
  --chemi-title-desktop-line-height: 1.8125rem;
  --chemi-movie-title-desktop-line-height: 1.1875rem;
  --chemi-movie-character-desktop-line-height: 1.9375rem;
  --feature-desktop-font-weight: 300;
}

/*
===========
media
===========
*/

/* width < 320px (Galaxy S5, iPhone 5, iPhone 6/7/8, fold)*/
@media screen and (max-width: 23.4375rem) {
  /* ----------------- conclusion ----------------- */
  .b3 .r1 .c1 {
    font-size: var(--conclusion-mobile-font-xs-size);
  }

  .b3 .r1 .f2 {
    font-size: var(--feature-mobile-font-xs-size);
  }

  .b3 .s1 span,
  .b3 .m1 span,
  .b3 .likeMe span,
  .b3 .mostType span {
    font-size: var(--share-mobile-font-xs-size);
  }
}

/* mobile(768px) labtop(1020px) / desktop(1024px) */
@media screen and (min-width: 47.25rem) {
  /* ----------------- Global ----------------- */
  body {
    padding: 0;
  }

  section {
    margin: 0.625rem 3.75rem;
    border-width: 4px;
    border-radius: 32px;
  }

  .subTitle {
    font-size: var(--share-desktop-font-size);
    margin-top: 3rem;
  }

  /* ----------------- block ----------------- */
  .b3 {
    width: 716px;
    border-width: 6px;
    border-radius: 40px;
    margin: 5rem 0;
    padding: 3.75rem;
  }
  .b3 .r1 .t2 .subject {
    height: 2rem;
    margin-top: 4rem;
  }

  .b3 .r1 .t2 .movie-title {
    height: 3rem;
    margin-top: 2.5rem;
  }

  .b3 .r1 .t2 .movie-character {
    height: 4rem;
  }

  .b3 .r1 .t2 .character-img {
    padding: 0 3.75rem;
  }

  /* ----------------- conclusion ----------------- */
  .b3 .r1 .c1 {
    height: 100%;
    line-height: var(--conclusion-desktop-line-height);
    font-size: var(--conclusion-desktop-font-size);
    margin-top: 2.375rem;
  }

  .b3 .r1 .f1 {
    width: var(--basic-desktop-width);
  }

  .b3 .r1 .f2 {
    height: 3.5rem;
    font-size: var(--feature-desktop-font-size);
    line-height: var(--feature-desktop-line-height);
    font-weight: var(--feature-desktop-font-weight);
  }

  /* ----------------- point-line ----------------- */
  .p1 {
    background-size: 28px 4px;
    border-width: 4px;
    margin-top: 62px;
  }

  /* ----------------- chemistry ----------------- */
  .b3 .r1 .h1 {
    width: var(--basic-desktop-width);
    margin: 4.125rem 0 3.75rem 0;
  }

  .b3 .r1 .h1 .chemi {
    height: 100%;
    border-radius: 16px;
  }

  .b3 .r1 .h1 .good {
    margin-right: 1.25rem;
  }

  .b3 .r1 .h1 .chemi .chemi-title {
    width: 100%;
    height: 3.25rem;
    font-size: var(--chemi-title-desktop-font-size);
    line-height: var(--chemi-title-desktop-line-height);
    margin-top: 2.5rem;
  }

  .b3 .r1 .h1 .chemi .character-img {
    width: 64.91%;
    height: 10.75rem;
    margin-top: 0.625rem;
  }

  .b3 .r1 .h1 .chemi .movie-title {
    width: 100%;
    height: 1.375rem;
    font-size: var(--chemi-movie-title-dsektop-font-size);
    line-height: var(--chemi-movie-title-desktop-line-height);
    margin-top: 2.375rem;
  }

  .b3 .r1 .h1 .chemi .movie-character {
    width: 100%;
    height: 2.125rem;
    font-size: var(--chemi-movie-character-desktop-font-size);
    line-height: var(--chemi-movie-character-desktop-line-height);
    margin-top: 0.75rem;
    margin-bottom: 2.25rem;
  }

  .b3 .likeMe,
  .b3 .mostType {
    padding: 0 3.75rem 3.75rem 3.75rem;
  }

  .b3 .whiteBox .imgAndGraph {
    flex-direction: row;
    justify-content: center;
  }

  .b3 .whiteBox .movie-title {
    font-size: 1rem;
    margin-top: 2.5rem;
  }

  .b3 .whiteBox .movie-character {
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }

  /* ----------------- graph ----------------- */

  .b3 .whiteBox img {
    margin: 1rem 2.5rem 3.75rem 0;
  }

  .circular {
    top: -20px;
    margin-bottom: 0;
  }

  /* ----------------- share ----------------- */

  .b3 .s1 .s2 {
    width: var(--basic-desktop-width);
    height: 4rem;
    margin: 1.75rem 0 4.25rem 0;
    padding: 0 1.875rem;
  }

  /* ----------------- movies ----------------- */
  .b3 .m1 {
    height: 100%;
  }

  .b3 .m1 .m2 {
    width: var(--basic-desktop-width);
    height: 13.125rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.625rem;
    margin-bottom: 3.75rem;
  }

  .b3 .m1 .m2 li {
    width: 30%;
    margin-bottom: 0;
  }

  .b3 .restart {
    width: 63.75%;
    height: 5.875rem;
    margin: 2.5rem 0;
  }

  /* ----------------- comment ----------------- */

  .b3 .communication .add-comment .nickname,
  .comment-area,
  .password {
    border-width: 3px;
    border-radius: 20px;
    font-size: var(--placeholder-desktop-font-size);
  }

  .b3 .communication .add-comment .nickname {
    width: 79.86%;
    height: 3.25rem;
    margin: 2.5rem 3.7rem 1.25rem 3.7rem;
  }

  .b3 .communication .add-comment .commentArea .comment-area {
    width: 79.86%;
  }
  .b3 .communication .add-comment .commentArea span {
    position: absolute;
    bottom: 20px;
    right: 90px;
  }
  #comment_count {
    font-size: 0.625em;
    color: var(--comment-placeholder-color);
  }

  .b3 .communication .add-comment .add-comment-pw {
    display: flex;
    width: 79.86%;
    flex-direction: row;
    /* align-items: start; */
  }

  .b3 .communication .add-comment .add-comment-pw .password {
    width: 200vw;
    height: 3.25rem;
    margin: 1.25rem 1.25rem 0.625rem 0;

    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .b3 .communication .add-comment .add-comment-pw .wrtie-comment-btn {
    height: 3.25rem;
    background-image: url("../imgs/writeCommentBtn_Frame69.png");
    margin-top: 1.25rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .b3 .communication .show-comment {
    margin: 4.125rem 0 0.875rem 0;
  }

  .b3 .communication .show-comment .comment {
    border-radius: 20px;
    margin-bottom: 1.6875rem;
  }

  .b3 .communication .show-comment .comment .comment_header {
    border-radius: 20px 20px 0px 0px;
  }

  .b3 .communication .show-comment .comment .comment_content {
    border-radius: 0px 0px 20px 20px;
  }

  .b3 .communication .show-comment .comment .add-reply {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .b3 .communication .show-comment .comment .add-reply .write-reply-btn {
    width: 17.02%;
    height: 3rem;
    background-image: url("../imgs/desktop/desktop_writeCommentBtn_Frame69.png");
    background-color: rgba(0, 0, 0, 0);

    margin: 1.125rem 1.0625rem 0 0;
  }

  .b3 .communication .show-comment .comment .add-reply .comment-reply-area {
    margin: 1.25rem 1.25rem 1.125rem 1.0625rem;
  }

  .b3 .communication .comment-pages {
    width: 40%;
  }
  /* ----------------- reportModal ----------------- */
  .report-modal .report-modal-container {
    width: 35vw;
    height: 50%;
    border-width: 6px;
    border-radius: 40px;
  }

  .report-modal .report-modal-container .input-area {
    border-radius: 32px;
  }

  .report-modal-container select {
    margin-top: 2rem;
  }
}
